{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'about.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<nav>
    <div class="navigation">
        <a href="{%url 'home'%}">Hospital Management System</a>
        <!-- <p>PG Accomodation</p> -->
    </div>
    <ul>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="admin_login">Login</a></li>
        <!-- <li><a href="admin">Admin Login</a></li> -->
    </ul>
</nav>

<body>
    <p1>about</p1>
    <div class="about_content">
        <div class="des_holder">
            <p>
                Hospital management system is a computer system that helps manage the information related to health care
                and aids in the job completion of health care providers effectively. <br> <br>
                <b>Why is HMS important for a hospital?</b> <br> <br>
                HMS was introduced to solve the complications coming from managing all the paper works of every patient
                associated with the various departments of hospitalization with confidentiality. HMS provides the
                ability to manage all the paperwork in one place, reducing the work of staff in arranging and analyzing
                the paperwork of the patients. HMS does many works like: <br> <br>

                <li>Maintain the medical records of the patient</li>
                <li>Maintain the contact details of the patient</li>
                <li>Keep track of the appointment dates</li>
                <li>Save the insurance information for later reference</li>
                <li>Tracking the bill payments.</li> <br>

                <p><b>The advantages of HMS can be pinpointed to the following:</b></p> <br>

                <li>Maintain the medical records of the patient</li>
                <li>Improved Efficiency by avoiding human errors</li>
                <li>Reduces scope for Error</li>
                <li>Data security and correct data retrieval made possible</li>
                <li>Cost effective and easily manageable</li>
                <li>Easy access to patient data with correct patient history</li>
                <li>Improved patient care made possible</li>
                <li>Easy monitoring of supplies in inventory</li>
                <li>Reduces the work of documentation</li>
                <li>Better Audit controls and policy compliance.</li> <br>
            </p>
        </div>
        <div class="image_holder">
            <img src="static/images/about_des.jpg" alt="">
        </div>
    </div>
</body>
<footer>
    <div class="footer_content">
        <p>HOSPITAL MANAGEMENT SYSTEM</p>
    </div>
    <p>DBMS Mini-Project, Dayananda Sagar Academy Of Technology and Management</p>
    <div class="footer_bottom">
        <p>Copyright &copy; 2022 1DT20CS091 | 1DT20CS081 | 1DT20CS105 </p>
    </div>
</footer>

</html>