{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'contact.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<nav>
    <div class="navigation">
        <a href="{%url 'home'%}">Hospital Management System</a>
        <!-- <p>PG Accomodation</p> -->
    </div>
    <ul>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="admin_login">Login</a></li>
        <!-- <li><a href="admin">Admin Login</a></li> -->
    </ul>
</nav>

<body>
    <h1>contact</h1>
    <div class="contact_holder">
        <div class="image_holder">
            <div class="card">
                <img src="static/images/param.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Param Preetham R</b></h4> <br>
                    <p>parampreethamr@gmail.com <br>6362527804</p>
                </div>
            </div>
            <div class="card">
                <img src="static/images/rrb.jpg " alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Raghavendra R Bavagi</b></h4> <br>
                    <p>raghubavagi2002@gmail.com <br>9481486127</p>
                </div>
            </div>
            <div class="card">
                <img src="static/images/naga.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Nagareddy G B</b></h4> <br>
                    <p>gangavarapunagareddy39@gmail.com <br>9353854039</p>
                </div>
            </div>
        </div>
        <div class="map_holder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.2802509446215!2d77.51184141464361!3d12.82515829095201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae41057dd66abf%3A0xfda823a3ca1775ea!2sDayananda%20Sagar%20Academy%20of%20Technology%20and%20Management%20(DSATM)!5e0!3m2!1sen!2sin!4v1673162183895!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
<footer>
    <div class="footer_content">
        <p1>HOSPITAL MANAGEMENT SYSTEM</p1>
        <p>DBMS Mini-Project, Dayananda Sagar Academy Of Technology and Management</p>
    </div>
    <div class="footer_bottom">
        <p>Copyright &copy; 2022 1DT20CS091 | 1DT20CS081 | 1DT20CS105 </p>
    </div>
</footer>

</html>