{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="{%static 'patients_list.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navigation">
            <a href="{%url 'admin_panal'%}">Hospital Management System</a>
            <!-- <p>PG Accomodation</p> -->
        </div>
        <ul>
            <li><a href="{%url 'admin_panal'%}">Back</a></li>
            <li><a href="{%url 'admin_login'%}">Logout</a></li>
        </ul>
    </nav>
    <div class="total_patients">
        <p>Total Patients : {{patients_count}}</p> 
    </div>
    <div class="add_patient">
        <a href="{%url 'add_patient' %}">+ Add Patient </a>
    </div>
    <div class="patients_list">
        <table border="1" >
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Phone No.</th>
                    <th>Symptoms</th>
                    <th>Doctor Name</th>
                    <th>View/Edit</th>
                    <th>Bill</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for patient in patients%}
                <tr>
                    <td>{{patient.name}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.symptoms}}</td>
                    <td>{{patient.doctorName}}</td>
                    <td><a href="{%url 'view_edit_patient' patient.id %}">View/Edit</a></td>
                    <td><a href="{%url 'patient_discharge' patient.id %}">Generate bill</a></td>
                    <td><a href="{%url 'delete_patient' patient.id %}">Delete</a></td>
                </tr>
                {%endfor%}
                <!-- <tr>
                    <td>Raghu</td>
                    <td>6362527804</td>
                    <td>Cough</td>
                    <td>Dr. Preetham</td>
                    <td><a href="">View/Edit</a></td>
                    <td><a href="">Generate bill</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                <tr>
                    <td>Sathvik</td>
                    <td>6362527804</td>
                    <td>Cough</td>
                    <td>Dr. Preetham</td>
                    <td><a href="">View/Edit</a></td>
                    <td><a href="">Generate bill</a></td>
                    <td><a href="">Delete</a></td>
                </tr> -->
            </tbody>
        </table>
    </div>
</body>
</html>